<!DOCTYPE html>
<head>
  <title>course fee valuable ?</title>
  <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet">
  <link href="https://unpkg.com/vuetify/dist/vuetify.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <div id="app">
     <v-app>
       <main>
         <v-container>
           <v-layout row>
            <v-flex xs12 lg6 offset-lg3>
              <v-card class="e4">
                <v-toolbar class="cyan" dark>
                  <v-toolbar-title><span class="hidden-xs-only">is </span>course fee $14,888 valuable?</v-toolbar-title>
                  <v-spacer></v-spacer>
                </v-toolbar>
                <v-card-text>
                  <v-container fluid grid-list-md>
                    <v-layout row wrap>
                      <!-- row 1 -->
                      <v-flex sm9 xs12>
                        <v-slider label="investment $" v-bind:min="8" v-bind:max="100000" v-model="investmentBase"></v-slider>
                      </v-flex>
                      <v-flex sm3 xs12>
                        <v-text-field v-model="investmentBase" type="number"></v-text-field>
                      </v-flex>
                      <!-- row 2 -->
                      <v-flex sm9 xs12>
                        <v-slider label="monthly gain %" v-bind:min="1" v-bind:max="50" v-model="monthlyInterest">
                      </v-flex>
                      <v-flex sm3 xs12>
                        <v-text-field v-model="monthlyInterest" type="number"></v-text-field>
                      </v-flex>
                      <!-- Result -->
                      <v-flex sm12 xs12 class="result">
                        <h2>course fee sponsored by <br class="hidden-sm-and-up"><span style="color: orange">{{resultMonth}}</span> <br class="hidden-sm-and-up">investment</h5>
                      </v-flex>
                    </v-layout>
                  </v-container>
                </v-card-text>
              </v-card>
            </v-flex>
          </v-layout>
         </v-container>
       </main>
     </v-app>
  </div>
  <script src="https://unpkg.com/vue/dist/vue.js"></script>
  <script src="https://unpkg.com/vuetify/dist/vuetify.js"></script>
  <script>
    new Vue({
      el: '#app',
      data: {
        pocketMoney: 0, // unit: $0
        courseFee: 14888, // unit: $14,888
        investmentBase: 20000, // unit: $20,000
        monthlyInterest: 5, // unit: 5%
        resultMonthly: '? month', // calc: 20000 * (1+5%) x n - 20000 = $14,888
      },
      computed: {
        resultMonth: function () {
          // return courseFee /
          // calc: 20000 * (1+5%) x n - 20000 = $14,888
          // = 14888 + 20000/20000 / 1.05
          let round = 0
          let year = 0
          this.pocketMoney = this.investmentBase
          while((this.pocketMoney - this.investmentBase) < this.courseFee) {
            // compound interest
            this.pocketMoney += this.pocketMoney * (this.monthlyInterest / 100)
            round++
          }
          if (round === 1) {
            return 'less than 1 month'
          }
          if (round === 12) {
            return '1 year'
          }
          if (round > 12) {
            return `${round} year & ${round % 12} month`
          }
          return `${round} month`
        },
      }
    })
  </script>
  <style>
    #app {
      overflow: hidden;
    }
    input[type="number"] {
      text-align: right;
    }
    @media only screen and (max-width: 768px) {
      .slider__thumb.primary {
        width: 30px;
        height: 30px;
      }
      .result {
        text-align: center;
      }
    }
  </style>
</body>
</html>
