/*
	Moved to the child theme by Bryan Vaz @IMITHK
*/

.clearfix:after {clear:both; height:0; content:""; display:block}
h1, h2, h3, h4, h5, h6, .postitle, .product_title {font-family:'Libre Baskerville'; letter-spacing:1px; -webkit-font-smoothing: antialiased;}
.woocommerce div.product .product_title {text-transform:none; font-size:30px; margin-bottom:0px; color:#a9864a; font-weight:100;}
.woopage #content {margin-top:60px;}
/* woocommerce override */
.woocommerce span.onsale {background-color: #D49952;}
.woopage #sidebar {float:left;width:23%; margin-top:5px;}
.woopage #sidebar .widget_wrap {padding:0; width:70%;}
.woopage #sidebar .widget_wrap h3 {font-size:14px; padding:12px 0; }
.woopage .single_wrap {width:75%; float:right;}
.woopage h1.postitle {margin:0 0 22px 0; font-size:32px; font-weight:100; color:#a9864a;} 

input, select {padding:5px 6px; border-radius:5px;}
.woocommerce #respond input#submit.alt.disabled, .woocommerce #respond input#submit.alt.disabled:hover, .woocommerce #respond input#submit.alt:disabled, .woocommerce #respond input#submit.alt:disabled:hover, .woocommerce #respond input#submit.alt:disabled[disabled], .woocommerce #respond input#submit.alt:disabled[disabled]:hover, .woocommerce a.button.alt.disabled, .woocommerce a.button.alt.disabled:hover, .woocommerce a.button.alt:disabled, .woocommerce a.button.alt:disabled:hover, .woocommerce a.button.alt:disabled[disabled], .woocommerce a.button.alt:disabled[disabled]:hover, .woocommerce button.button.alt.disabled, .woocommerce button.button.alt.disabled:hover, .woocommerce button.button.alt:disabled, .woocommerce button.button.alt:disabled:hover, .woocommerce button.button.alt:disabled[disabled], .woocommerce button.button.alt:disabled[disabled]:hover, .woocommerce input.button.alt.disabled, .woocommerce input.button.alt.disabled:hover, .woocommerce input.button.alt:disabled, .woocommerce input.button.alt:disabled:hover, .woocommerce input.button.alt:disabled[disabled], .woocommerce input.button.alt:disabled[disabled]:hover {background-color:#a9864a}
.woocommerce span.onsale {top: -1.5em; left: auto; right:-1.5em}
.woocommerce .woocommerce-breadcrumb { font-size:1em}

.woocommerce div.product form.cart div.quantity {width:100%; margin-bottom:20px;}
.page_head {text-align:left;}
.page_head .postitle {font-size:36px; font-family:'Libre Baskerville'; -webkit-font-smoothing: antialiased; color:#000; text-transform:uppercase;}
.page_head .pagetitle_wrap {margin:0}
.has_cat_desc, .has_tag_desc {min-height:auto;}
.single_wrap.no-sidebar {width:100%;}

.wrps_related_products_area_title span {font-weight:100;}

.single-product #content {margin-top:60px;}
.single-product #content .center {width:80%;}
.single-product #content .product_meta {line-height:1.5em;}
.single-product #content .product_meta .posted_in {display:none;}
.single-product #content span.sku_wrapper {display:block;}
.single-product .sviZoomContainer .sviZoomLens {border:0 !important; width:200px !important; height:200px !important; border-radius:100px !important;}
.woocommerce #content div.product div.images, .woocommerce div.product div.images, .woocommerce-page #content div.product div.images, .woocommerce-page div.product div.images {width:40%; position:relative;}
.woocommerce #content div.product div.summary, .woocommerce div.product div.summary, .woocommerce-page #content div.product div.summary, .woocommerce-page div.product div.summary {width:50%;}
.woocommerce div.product form.cart .button.single_add_to_cart_button {
	background-image: url(assets/images/btn-bg.png);
	background-repeat : no-repeat;
    background-color: #fff;
    color: #a9864a;
    min-width: 169px;
    min-height: 44px;
    font-size: 14px;
    text-transform: uppercase;
	letter-spacing:1px;
    background-size:cover !important; 
}
.woocommerce div.product form.cart .button.single_add_to_cart_button:hover {
	background-image: url(assets/images/btn-bg-hover.png);
    background-color: transparent;
    color: #fff;;
    min-width: 169px;
    min-height: 44px;
    font-size: 14px;
    background-size:cover !important; 
}
.woocommerce div.product p.price, .woocommerce div.product span.price {color:#a9864a;margin-bottom:15px;}

/* widget custom */
.widget .widgettitle {font-weight:normal;}
.widgettitle {border-top:1px solid #000; border-bottom:1px solid #000; padding:17px 0; }
#sidebar .widget li a {font-size:14px;text-transform:capitalize;}
#sidebar .widget li {margin:10px 0; padding:10px}
.current-cat {background:url(assets/images/active_cat.png) center left no-repeat; background-size:contain;}
.widgets .current-menu-item {background:url(assets/images/active_cat.png) center left no-repeat; background-size:contain;}



.woocommerce-tabs h2, .woocommerce .related h2 {padding-top:40px; border-top: 2px solid #000}
.woocommerce-tabs .entry-content {padding-bottom:10px}
.woocommerce .product-list div.product.product-item {width:27.3%; float:left; margin-left:3%; margin-right:3%; margin-bottom:35px; min-height:380px;}
.woocommerce .product-list .product-item h3 {color:#000; font-family : 'Libre Baskerville'; -webkit-font-smoothing: antialiased; margin-top:10px; margin-bottom:10px; font-size:16px; text-align:center; max-width:300px; }
.woocommerce .product-list .product-item a img {margin:0;}
.woocommerce .product-list .product-item .price {color:#000; font-size:16px; text-align:center; max-width:300px; display:block;}
.woocommerce .product-list .product-item .woocommerce-Price-amount {padding:0 5px;}
.woocommerce-LoopProduct-link {display:inline-block; position:relative;}
.woocommerce-pagination {clear:both; margin-bottom:80px}
.woocommerce .related .product-list div.product.product-item {width:20%;}
.woocommerce .related .product-list {margin-top:80px}
a.variant-select {display:inline-block; width:50px; height:50px; margin-right:8px; float:left; border:1px solid #000;} 

.page_leftcontent_wrap {
	width : 60%;
	margin: 0 auto 0 10%;
	background:#fff;
	font-size : 14px;
}
.page_leftcontent_wrap .page_head .pagetitle_wrap {padding: 140px 0 0 0; width:100%;}
.page_leftcontent_wrap .page_head .postitle {text-align:center; margin:0; color:#a9864a; font-weight:100;}
.page_leftcontent_wrap #content .single_post{padding-bottom:500px; padding-left: 60px; padding-right: 60px; } 
.page_leftcontent_wrap h3 {font-size:36px; margin-top:80px; }
.page_leftcontent_wrap p {line-height:1.5em;}
.content .center {width:90%;}
.page_fullwidth_wrap #content {margin-top:0;}
.page_leftsidebar_wrap #content {margin-top:60px; margin-bottom:60px;}
.page_leftsidebar_wrap #sidebar {float:left;width:23%; margin-top:5px;}
.page_leftsidebar_wrap #sidebar .widget_wrap {padding:0; width:70%;}
.page_leftsidebar_wrap #sidebar .widget_wrap h3 {font-size:14px; padding:12px 0;}
.page_leftsidebar_wrap .single_wrap {width:75%;}
.page_leftsidebar_wrap .single_wrap h1{margin-top:0; margin-bottom:22px; display:none;}
.page_leftsidebar_wrap .panel-grid {margin-bottom:15px !important;}

.page_centerpage_wrap {margin-bottom:100px;}
.page_centerpage_wrap .no_sidebar.single_wrap {width:90%; margin:0 auto; float:none;}
.page_centerpage_black_wrap {background:url(assets/images/gold-border.png) no-repeat center bottom; } 
.page_centerpage_black_wrap .no_sidebar.single_wrap {width:86%; margin:0 auto; float:none;}
.page_centerpage_black_wrap #content {background:url(assets/images/black-pattern-bg.jpg) repeat-y center top; margin-top:0px; margin-bottom:5px;}
.page_centerpage_black_wrap #content .single_post {background:#fff; padding:100px 100px 120px 100px}
.page_centerpage_black_wrap h1 {font-size:36px; color:#a9864a; font-weight:normal;}

/* WooSwipe */
.woocommerce div.product #wooswipe.images .thumb img {border:none;}
.woocommerce div.product #wooswipe.images .thumb {border:none;}
#wooswipe .thumbnails li {margin-left:0px; margin-right:10px;}
#wooswipe .single-product-main-image {overflow:initial;}
#wooswipe .slick-list {margin:0}
#wooswipe .thumbnails {height:auto;}

#footer .footer-links .textwidget {letter-spacing:2px;}
#footer .social-icons .panel-grid-cell {width:30px; margin:0 5px;}
#footer .copyright-widget .textwidget {font-size:12px; font-weight:100;font-family:verdana;}

#footer .widgets .widget a {color:#ffffff !important;}

#footer .footer-social-tnc-panel {margin-top:20px;}

/* Menu */
.sidr-class-menu li.sidr-class-menu-item img {height:14px; width:14px;}
.sidr ul li span {font-size:inherit;color:inherit; padding:0 10px; text-transform: uppercase;}

#topmenu {width:80%; float:right;}
#topmenu ul li > a > img {height:20px; width:20px; margin:0;}
#topmenu ul li.pll-parent-menu-item {cursor:pointer;}
#topmenu ul li.menu-item span {color:inherit; font-size:inherit; opacity:1}
#topmenu ul li.pll-parent-menu-item span,
/*#topmenu ul li.menu-cart span {display:none;}*/

#topmenu ul li a[href='#pll_switcher'] span{/*max-width:3ch;padding-right:2px;*/overflow:hidden;display:inline-block;vertical-align:middle;}

#topmenu ul li a[href='#pll_switcher'] span.menu_arrow{display:none;}
.menu-cart span{display:none;}
.menu-item-type-woocs a span.menu_arrow{display:none;}

#topmenu ul li.menu-item-type-woocs > a{margin-left:15px;margin-top:2px;}
#topmenu ul li.menu-item-type-woocs > a::before{
background-image: url('../../../wp-content/uploads/2017/09/Asset-47.png');
      background-size: 20px 20px;
    display: inline-block;
    width: 20px;
    height: 20px;
    content: "";
    background-repeat: no-repeat;
    background-position: 0 0px;
    position: absolute;
    left: 8px;
    top: 11px;
}

#topmenu ul li.menu-item-type-woocs > a>span{    width: 34px;
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
    height: 12px;}
#topmenu ul li.menu-item-type-woocs >a span.menu_arrow{display:none;}

.related.products {clear:both}

.contact-form-header {margin:200px 15% 100px 15%;}
.contact-form-header h1 {color:#a9864a;}
#contact-form-content {padding: 0 5%; margin:0 auto; width:50%;}
.wpcf7-text {background:none; width:98%; border:#000 1px solid; border-radius:0px !important; margin-top:5px; font-size:14px; padding:10px 6px !important;}
.wpcf7-textarea {background:none; width:98%; border:#000 1px solid; border-radius:0px !important; padding:1%; margin-top:5px; font-size:14px; padding:10px 6px !important;}
.wpcf7-select {width:100%; border:#000 1px solid; border-radius:0px !important; height:40px; font-size:14px;}
.wpcf7-submit {background: transparent !important; background: url(assets/images/btn-bg.png) no-repeat center center !important; background-size:contain !important; color:#a9864a !important; min-width: 184px; min-height:48px; font-size:14px; border-radius:0px !important;}
.wpcf7-submit:hover {background: url(assets/images/btn-bg-hover.png) no-repeat center center !important; background-size:contain !important; color:#fff !important}

.newsletter {width:100%; float:left; text-align:center; padding:30px 0 25px 0; background: url(assets/images/gold-border.png) top center no-repeat #ffffff;}
.newsletter * {display:inline-block; vertical-align:middle;}
.newsletter .es_lablebox {display:none;}
.newsletter .widget-title {font-family:'Montserrat Light', Arial, Helvetica, sans-serif; margin: 0 20px 0 0 !important; padding-top:2px; color:#a9864a; font-weight:100; text-transform:uppercase;}
.newsletter .es_textbox {padding-bottom:0; margin-right:20px;}
.newsletter .es_textbox_class {font-family:'Montserrat Light', Arial, Helvetica, sans-serif; letter-spacing:1px; height:32px; border:#000 1px solid; width:400px; font-size:14px; text-transform:uppercase;}
.newsletter .es_button {padding:0;}
.newsletter .es_textbox_button {height:44px; min-width:169px; border:0px; border-radius:0px !important; background:transparent; background: url(assets/images/btn-bg.png) no-repeat center center !important; background-size:contain !important; color:#a9864a; font-size:15px; cursor:pointer; text-transform:uppercase;}
.newsletter .es_textbox_button:hover {background: url(assets/images/btn-bg-hover.png) no-repeat center center !important; color:#fff; background-size:contain !important; }

.comments_template {margin-top:0;}

.home-gold-button {margin-top:35px; margin-left:-10px;}
.home-gold-button .ow-button-base a {background:url(assets/images/btn-bg.png) no-repeat center center !important; background-size:contain !important; border:none !important; padding: 1em 1em !important; font-weight:bold !important; box-shadow: none !important;}
.home-gold-button .ow-button-base a span {color:#a9864a;}
.home-gold-button .ow-button-base a:hover {background:url(assets/images/btn-bg-hover.png) no-repeat center center !important; background-size:contain !important; }
.home-gold-button .ow-button-base a:hover span {color:#fff;}

.head_inner .logoimga {display:inline-block;}

.home-instagram-desc .textwidget p a {color:#a9864a;}

/* pagination */
.woocommerce nav.customized-woocommerce-pagination {clear:both; text-align:center; margin:30px 0 50px 0px}
.woocommerce nav.customized-woocommerce-pagination ul {border-top:1px solid #000; border-bottom:1px solid #000; display:inline-block; margin:0; padding:0}
.woocommerce nav.customized-woocommerce-pagination ul li {display:inline-block; margin:0; padding:0;}
.woocommerce nav.customized-woocommerce-pagination ul li a,
.woocommerce nav.customized-woocommerce-pagination ul li span {display:block; padding: 10px 16px;}
.woocommerce nav.customized-woocommerce-pagination ul li span.current {background:url(assets/images/pagination-highlight.png) center center no-repeat;}  

/* Related product */
.wrps_related_products_area {margin-bottom:80px; border-top:2px solid #000; padding-top:20px;}
.wrps_related_products.wrps_theme_hover.owl-carousel {width:95% !important; margin:0 auto;}
/*.woocommerce .owl-item .wpb-wrps-item {border:1px solid #000}*/
.woocommerce .owl-item .wpb_wrps_onsale {background-color:#a9864a}
.wpb_wrps_title {font-family: 'Libre Baskerville', Arial, Helvetica, sans-serif !important; -webkit-font-smoothing: antialiased; text-transform:capitalize !important;}
.wrps_related_products_area .owl-theme .owl-controls .owl-buttons div {border:1px solid #000 !important; }
.wrps_related_products_area .owl-theme .owl-controls .owl-buttons i {color:#000 !important;}
.wpb_wrps_cart_btn a {font-family:'Montserrat Light', Arial, Helvetica, sans-serif !important; }
.owl-pagination {display:none;}

.goldRight {width:15px; height:30px; display:block; background:url(assets/images/right-arrow.png) center center no-repeat;}
.goldLeft {width:15px; height:30px; display:block; background:url(assets/images/left-arrow.png) center center no-repeat;}

/* checkout */
.woocommerce td.product-name dl.variation dd p:last-child {margin-top:0;}

.woocommerce div.product form.cart .reset_variations {display:none !important;}
.wrps_related_products_area .owl-theme .owl-controls .owl-buttons div.owl-prev {float:left;}
.wrps_related_products_area .owl-theme .owl-controls .owl-buttons div.owl-next {float:right;}
.wrps_related_products_area .owl-theme .owl-controls .owl-buttons:after {clear:both; content:" "; display:block;}

.woocommerce-message {border-top-color: #a9864a;}
.woocommerce-message:before {color: #a9864a;}

.woocommerce-info {border-top-color: #a9864a;}
.woocommerce-info:before {color: #a9864a;}

.woocommerce-info a {color: #a9864a !important;}


@media (min-width: 960px)
{
	.page_leftcontent_wrap {
		width : 56%;
		min-width : 700px;
	}
	
	/* Related product */
	.wrps_related_products_area .owl-theme .owl-controls .owl-buttons div
	{
		border: none !important;
	}
	.wrps_related_products_area .owl-theme .owl-controls .owl-buttons i {font-size: 30px !important;}
	.wrps_related_products_area .owl-theme .owl-controls .owl-buttons div {opacity:0.8 !important;}
	.wrps_related_products_area .owl-theme .owl-controls .owl-buttons div:hover {opacity:1 !important;}
	.wrps_related_products_area .owl-theme .owl-controls .owl-buttons div.owl-prev {
		position: absolute;
	    top: 35%;
	    left: -50px;
	}
	.wrps_related_products_area .owl-theme .owl-controls .owl-buttons div.owl-next {
		position: absolute;
	    top: 35%;
	    right: -50px;
	}
	.wrps_related_products_area .owl-buttons {
		position:static !important;
		top:auto !important;
		left:auto !important;
	}
}

@media (min-width: 1280px)
{
	.page_leftcontent_wrap {
		width : 56%;
	}
}


@media screen and (max-width: 960px)
{
	.woocommerce .product-list div.product.product-item {min-height:300px;}
	.woocommerce .related .product-list div.product.product-item {width:30%;}
	.page_leftcontent_wrap {
		width : 70%;
	}
	.page_centerpage_black_wrap #content {background:none;}
	.page_centerpage_black_wrap #content .single_post {padding:60px 50px 100px 50px}
	
	.page_leftsidebar_wrap #content {margin-top:10px;}
	#sidebar .widget {margin-top:20px;}
}
@media screen (min-width:769px) and (max-width:1024px){
.col-right-desktop{display:none !important;}
.col-right-tab{display:block !important;;}

/*.all-center div.text-wrap {
    transform: translate(-54%, 0);
}*/
/*.all-center > div {
    position: relative;
    top: 47%;
    left: 37%;
    transform: translate(-72%, 0);
}*/
}

@media screen and (max-width: 768px)
{
	
	.woocommerce .product-list div.product.product-item {min-height:330px;}
	.woocommerce .related .product-list div.product.product-item {width:46%;}
	.woocommerce span.onsale {max-width: 2.236em;}
	.woocommerce #content div.product div.images, .woocommerce #content div.product div.summary, .woocommerce div.product div.images, .woocommerce div.product div.summary, .woocommerce-page #content div.product div.images, .woocommerce-page #content div.product div.summary, .woocommerce-page div.product div.images, .woocommerce-page div.product div.summary {width:100%;}
	.woocommerce-variation-add-to-cart,
	.woocommerce div.product form.cart, .woocommerce div.product p.cart {text-align:center;}
	.woocommerce div.product form.cart .button {float:none;}
	.page_leftcontent_wrap {
		width : 100%;
		margin : 0;
	}
	.page_leftcontent_wrap .page_head .pagetitle_wrap {padding-top:100px}
	.page_leftcontent_wrap .page_head .postitle {margin:0; padding:0 50px;}
	.page_leftcontent_wrap #content .single_post{padding-bottom:100px; 
	padding-left: 50px;
	padding-right: 50px; }
	.page_centerpage_black_wrap #content .single_post {padding:40px 30px 80px 30px}
	
	#footer .social-icons .panel-grid-cell {display: inline-block;}
    #footer .widgets {margin-top: 2.5em;}	
    .newsletter .es_textbox {width:84%; margin-top:10px; margin-bottom:10px;}
    .newsletter .es_textbox_class {width:100%;}
    .instagram-owl .owl-next {right:-50px !important;}
    .instagram-owl .owl-prev {left:-50px !important;}
    .home-instagram-desc {padding:0 10px;}
    .woocommerce .product-list div.product.product-item {width:43%}

    .experience-section .panel-grid-cell {margin-top:20px;}

    .page_head{min-height:0;}
    .contact-form-header{margin:100px 15% 100px 15%;}
    #contact-form-content {padding: 0 5%; margin:0 auto; width:70%;}

    .panel-grid-cell .widget-title {width:100%;}
    .newsletter .es_textbox_class {text-align:center;}

div.wpsf-slider-section h2.wpsf-section-title {
    margin-top: 0;
    font-size: 34px;
    font-weight: 500;
    margin-bottom: 24px;
    text-align: center;
    font-family: palatino;
    padding: 37px 0;
}

.instragram-wrap .heading {
    font-size: 33px;
    color: #a9864a;
    font-family: palatino;
}

.wpsf-product-section{padding-bottom:0px;}

/*.all-center > div {
    position: relative;
    /* top: 47%; */
    left: 10%;
    transform: translate(-65%, 0);
}*/
.right-center > div.imgsrc-wrap {
    float: left;
}
/*.right-center > div.text-wrap {
    float: right;
    position: absolute;
    left: 21%;
}*/
.left-center > div.imgsrc-wrap, .all-center > div.imgsrc-wrap, .col-right-tab > div.imgsrc-wrap {
    float: left;
    width: 90px;
    height: 90px;
    text-align: center;
position:relative;
}

div.imgsrc-wrap > img{max-height: 100%;  
    max-width: 100%; 
    width: auto;
    height: auto;
    position: absolute;  
    top: 0;  
    bottom: 0;  
    left: 0;  
    right: 0;  
    margin: auto;}


/*.all-center div.text-wrap {
    float: left;
transform: translate(-27%, 0);
}*/
.footer-social-tnc-panel{display:none !important;}
.footer-logo-row{display:none !important;}


.right-row .panel-layout .panel-grid-cell {width:32px !important;}
.right-row .panel-layout {position:absolute;right:0px;}
.right-row{position:absolute;top:0px;right:0px;}
.left-row .wrap-link{color:#000;font-family:verdana;font-size:11px;text-align:left;}
#footer .widgets .widget .left-row .wrap-link a{color:#6b6b6b !important;}

.right-row .panel-layout .panel-grid-cell:nth-child(1){position:absolute;right:76px;}

.right-row .panel-layout .panel-grid-cell:nth-child(2){position:absolute;right:38px;}
.home .comments_template{margin-bottom:0px}
.col-right-desktop{display:none;}

}

/* Page Builder */
.panel-grid-cell {min-height:auto;}
.panel-grid-cell .widget-title {margin-top:25px; color:#a9864a; font-weight:100;}

@media screen and (min-width: 769px)
{	
	.mobile-footer-top-row{display:none !important;}
	.footer-social-tnc-panel{display:block !important;}
	/*#footer .tnc-widget .textwidget {padding-right:16.3%;}
	#footer .copyright-widget .textwidget {padding-right: 16.3%;}*/
    #footer .widgets {margin-top: 78px;}
	.mobile-footer-wrapper{display:none !important;}
	

}

@media screen and (max-width: 480px)
{
	#footer .social-icons .panel-grid-cell {width:38px;}
div.wpsf-slider-section h2.wpsf-section-title {
    margin-top: 0;
    font-size: 34px;
    font-weight: 500;
    margin-bottom: 24px;
    text-align: center;
    font-family: palatino;
    padding: 37px 0;
	line-height: 35px;
}

.instragram-wrap .heading {
    font-size: 27px;
    color: #a9864a;
    font-family: palatino;
}

.wpsf-product-section{padding-bottom:0px;}

/*.all-center > div {
    position: relative;
    /* top: 47%; */
    left: 10%;
    transform: translate(-50%, 0);
}*/
.right-center > div.imgsrc-wrap {
    float: left;
}
/*.right-center > div.text-wrap {
    float: right;
    position: absolute;
    left: 28%;
}
.left-center div.text-wrap {
    float: left;
}*/


}

@media (max-width:380px){
/*.all-center div.text-wrap {
    float: none;
    transform: translate(-27%, 0);
}*/
}
@media (max-width:789px){
	.footer-logo-wrap{display:none}
}

.sidr-class-woocommerce-currency-switcher-form {padding:20px 24px 10px;}
.woocommerce-variation-add-to-cart-disabled .single_add_to_cart_button.button.wc-variation-is-unavailable  {display:none !important;}
.woocommerce-variation-add-to-cart-disabled .quantity  {display:none !important;}
.menu-item-type-woocs{float:right}


@media (max-width:190px){
    .info-wrap .text-wrap {display:none;}
    .left-center > div.imgsrc-wrap, .all-center > div.imgsrc-wrap, .col-right-tab > div.imgsrc-wrap{width:100%;}
    .div.wpsf-slider-section h2.wpsf-section-title{font-size:26px;margin:auto;padding:13px 0;line-height:35px;}
}



.woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt,
.woocommerce input.btn-checkout{
    padding: 15px 20px;
    background: #a9864a;
    font-family: 'Verdana';
    font-size:12px; letter-spacing: .2rem;
    color: #fff;
    -webkit-font-smoothing: antialiased;
     /* margin: 0; */
    line-height: 1;
    cursor: pointer;
    position: relative;
    text-decoration: none;
    overflow: visible;
    font-weight: 700;
    border-radius: 3px;
     border: 0;
    white-space: nowrap;
    background-image: none;
    box-shadow: none;
    text-shadow: none;
   
   
}
.woocommerce input.btn-checkout{ max-width: 325px; width: 100%;}

.woocommerce input.btn-checkout:hover,.woocommerce #respond input#submit.alt:hover, .woocommerce a.button.alt:hover, .woocommerce button.button.alt:hover, .woocommerce input.button.alt:hover{background-color:#C09D61; font-size:12px; letter-spacing: .2rem}
small.error{color:#AA0000}
.btn-checkout{margin-top: 20px;}
.text-center{text-align: center;}
.woocommerce .hide{display:none;}
.woocommerce .show{display:block;}
.accordian-wrap li.acordian-content{border-bottom:3px solid #DCDCDC;overflow: hidden;}
.woocommerce .uncompleted, .accordian-wrap li.acordian-content.uncompleted{background: #FFF; border-bottom:3px solid #DCDCDC; color:#626262; padding-bottom: 5px;}
.accordian-wrap li.acordian-content.uncompleted .list-heading{color:#626262}
.accordian-wrap li.acordian-content.uncompleted span.plusminus, .accordian-wrap li.acordian-content.completed span.plusminus{border-color: #626262;} 
.accordian-wrap li.acordian-content.completed{border-color: #626262; padding-bottom: 5px;}
.woocommerce form .form-row.woocommerce-invalid label{color:#626262}
.woocommerce form .form-row label.invalid, .woocommerce-page form .form-row label.invalid{color: #AA0000; font-size: 70%}
.woocommerce  .opt-child-theme form .form-row input.input-text.invalid, .woocommerce  .opt-child-theme form .form-row select, .woocommerce  .opt-child-theme .form-row input.input-text.invalid, .woocommerce  .opt-child-theme .form-row select.invalid{border-color: #AA0000}



